<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishincator</title>
    <link rel ="stylesheet" href = '../static/style.css' />
    
</head>
<body>
    <header>
        <h3 class="nav-title"> <span class="home-page-title">Phish</span>incator</h3>
        <ul class="nav-bar">
            <li> <a href ='#'> Home </a></li>
            <li> <a href ='#'> Predict </a></li>
            <li> <a href = '#'> About me </a></li>
        </ul>
    </header>
    <main role="main" class ="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <h4 class="footer-title">Made with 💖 by Vasanthan</h4>
        <p>&copy; 2023 Phishincator. All rights reserved.</p>
        
    </footer>
</body>
</html>